@keyframes scaleInAnimation{
  0%{transform: scale(0.8);}
  100%{transform: scale(1);}
}
@keyframes scaleOutAnimation{
  0%{transform: scale(1);}
  100%{transform: scale(0.8);}
}
@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fadeOut{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes topIn{
  0%{transform: translate(0, -100%);}
  100%{transform: translate(0, 0);}
}
@keyframes botIn{
  0%{transform: translate(0, 100%);}
  100%{transform: translate(0, 0);}
}
@keyframes topMidIn{
  0%{transform: translate(50%, -100%);}
  100%{transform: translate(50%, 0);}
}
@keyframes botMidIn{
  0%{transform: translate(50%, 100%);}
  100%{transform: translate(50%, 0);}
}
[data-bimpn]{
  --imgSize-center: 70px;
  --imgSize-side: 34px;
  --outer-padding: 20px;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &[data-bimpn-location="center"]{
    background: hsla(222, 2%, 6%, 30%);
    top: 0;
    height: 100vh;
    width: 100%;

    article{
      min-height: 260px;
      width: 480px;
      margin: 10px;
      border-radius: 5px;
    }
  }
  &[data-bimpn-type="toast"]{
    --outer-padding: 12px;
    
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);

    &[data-bimpn-location*="top"]{
      top: 10px;
    }
    &[data-bimpn-location*="bottom"]{
      bottom: 10px;
    }
    &[data-bimpn-location*="left"]{
      left: 10px;
    }
    &[data-bimpn-location*="right"]{
      right: 10px;
    }
    &[data-bimpn-location*="middle"]{
      right: 50%;
      transform: translate(50%, 0);
    }

    article{
      min-width: 200px;
      max-width: 250px;
      min-height: 70px;
      border-radius: 3px;
    }
  }
  /* &[data-bimpn-type="alert"]{

  } */
  /* &[data-bimpn-type="input"]{
    
  } */
  /* &[data-bimpn-type="confirm"]{

  } */
  
  &[data-bimpn-animate="start"]{
    &[data-bimpn-location*="top"]{
      animation: topIn 0.2s ease-in-out;
    }
    &[data-bimpn-location*="bottom"]{
      animation: botIn 0.2s ease-in-out;
    }
    &[data-bimpn-location="top-middle"]{
      animation: topMidIn 0.2s ease-in-out;
    }
    &[data-bimpn-location="bottom-middle"]{
      animation: botMidIn 0.2s ease-in-out;
    }
    &[data-bimpn-location="center"]{
      animation: fadeIn 0.2s ease-in-out;

      article{
        animation: scaleInAnimation 0.2s cubic-bezier(.15,.5,.5,1.75);
      }
    }
  }
  &[data-bimpn-animate="end"]{
    &[data-bimpn-location*="top"],
    &[data-bimpn-location*="bottom"],
    &[data-bimpn-location*="middle"],
    &[data-bimpn-location="center"]{
      animation: fadeOut 0.3s ease-in-out;
    }
    &[data-bimpn-location="center"] article{
      animation: scaleOutAnimation 0.3s cubic-bezier(.15,.5,.5,1.75);
    }
  }

  article{
    background: hsl(222, 8%, 88%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: var(--outer-padding);
  }
  .content{
    font-size: var(--fs-12-14);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: auto;
  }
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .innerCont{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
  }
  .title{
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .text{
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
  }
  img{
    user-select: none;
  }
  span{
    color: hsl(0, 85%, 54%);
    text-align: center;
    margin-top: 8px;
  }
  input, select{
    background: hsl(222, 8%, 100%);
    outline: none;
    padding: 7px 10px;
    margin-top: 15px;
    border: 1px solid hsl(222, 9%, 20%);
    border-radius: 3px;
  }
  .mainBtn{
    display: flex;
    gap: 10px;
  }
  .confirm{
    background: hsl(222, 9%, 20%);
    color: hsl(222, 8%, 88%);
  }
  .confirm, .cancel{
    padding: 7px 16px;
    border: 1px solid hsl(222, 9%, 20%);
    border-radius: 4px;
  }

  .center{
    height: var(--imgSize-center);
    margin-bottom: 16px;
  }
}

/* --==Responsive==-- */
@media(max-width: 940px){
  [data-bimpn]{
    --outer-padding: 12px;

    &[data-bimpn-location="center"]{
      article{
        min-height: 260px;
        width: 480px;
        margin: 10px;
        border-radius: 5px;
      }
    }
  }
}
@media(max-width: 780px){

}
@media(max-width: 560px){
  
}