[data-bimSlider]{
  --gap: 20px;
}
[data-bimSlider] .paginationWrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}
[data-bimSlider] .paginationCont{
  align-self: center;
}
[data-bimSlider] [data-pagination-ul]{
  display: flex;
  gap: 4px;
}
[data-bimSlider] [data-pagination-ul] li{
  display: flex;
}
[data-bimSlider] [data-pagination-ul] button{
  background: hsl(222, 5%, 65%);
  color: hsl(0, 0%, 20%);
  aspect-ratio: 1;
  cursor: pointer;
}
[data-bimSlider] [data-pagination-ul=dots] button{
  height: 12px;
  border-radius: 50%;
}
[data-bimSlider] [data-pagination-ul=numbers] button{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(28px, 3.7vw, 32px);
  line-height: 100%;
  border-radius: 4px;
}
[data-bimSlider] [data-pagination-ul] button:hover{
  background: hsl(222, 5%, 50%);
  color: hsl(0, 0%, 95%);
}
[data-bimSlider] [data-pagination-ul] button[data-current-page=true]{
  background: hsl(222, 5%, 25%);
  color: hsl(0, 0%, 95%);
}

[data-bimSlider] .arrowWrapper{
  position: relative;
  height: fit-content;
}
[data-bimSlider] .arrowWrapper .nextBtn{
  right: 0px;
  transform: translate(100%, 50%);
}
[data-bimSlider] .arrowWrapper .prevBtn{
  left: 0px;
  transform: translate(-100%, 50%);
}
[data-bimSlider] .arrowWrapper .nextBtn,
[data-bimSlider] .arrowWrapper .prevBtn{
  position: absolute;
  bottom: 50%;
  display: flex;
  cursor: pointer;
}
[data-bimSlider] .arrowWrapper .nextBtn svg,
[data-bimSlider] .arrowWrapper .prevBtn svg{
  height: 25px;
}

[data-bimSlider] .listWrapper{
  height: fit-content;
  padding-inline: 1px;
}
[data-bimSlider] .listWrapper ul{
  display: flex;
  user-select: none;
  gap: var(--gap);
}
[data-bimSlider] .listWrapper ul .cardItem{
  display: flex;
  aspect-ratio: 3 / 2;
  border: 1px solid black;
}
[data-bimSlider] .listWrapper ul .cardItem img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}
@media(max-width: 680px){
  [data-bimSlider]{
    --gap: 10px;
  }
}