div[data-pagination-wrapper]{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

div[data-arrow-wrapper]{
  position: relative;
  height: fit-content;
}
div[data-arrow-wrapper] [data-next-arrow]{
  position: absolute;
  bottom: 50%;
  right: 0px;
  width: 15px;
  transform: translate(100%, 50%);
  cursor: pointer;
}
div[data-arrow-wrapper] [data-prev-arrow]{
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 15px;
  transform: translate(-100%, 50%);
  cursor: pointer;
}

div[data-list-wrapper]{
  height: fit-content;
}

ul[data-card-list]{
  display: flex;
  user-select: none;
  margin-inline: 1px;
}
ul[data-card-list] li[data-card-item]{
  display: flex;
  aspect-ratio: 3 / 2;
  border: 1px solid black;
}
ul[data-card-list] li[data-card-item] img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}

div[data-pagination-cont]{
  align-self: center;
}
ul[data-pagination-ul]{
  display: flex;
  gap: 8px;
}
ul[data-pagination-ul] li[data-li-page]{
  background: hsl(222, 5%, 65%);
  color: hsl(0, 0%, 20%);
  aspect-ratio: 1;
  cursor: pointer;
}
ul[data-pagination-ul=dots] li[data-li-page]{
  height: 12px;
  border-radius: 50%;
}
ul[data-pagination-ul=numbers] li[data-li-page]{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  line-height: 100%;
  border-radius: 4px;
}
ul[data-pagination-ul] li[data-li-page]:hover{
  background: hsl(222, 5%, 50%);
  color: hsl(0, 0%, 95%);
}
ul[data-pagination-ul] li[data-li-page][data-current-page=true]{
  background: hsl(222, 5%, 25%);
  color: hsl(0, 0%, 95%);
}